
.input{
    border: 1px solid green;
    padding: 1% 3%;
    border-radius: 500px;
    margin: 5px;
    margin-bottom: 10px;
}
.form {
    border-radius: 5px;
    text-align: center;
    width: 60%;
    background-color: white;
    box-shadow: 5px 5px 20px black;
    padding: 5%;
    position: absolute;
    top: 100px;
    left: 20%;
}
.banner{
    height: 250px;
    background-color: #00a884;
    padding-left: 20%;
    display: flex;
    align-items: start ;
    width: 100%;
}
.banner_itam{
    display: flex;
    align-items: center ;
    padding-top: 25px;
    width: 100%;
}
.btn{
    cursor: pointer;
    border: none;
    background-color:#00a884;
    padding: 1% 3%;
    color: white;
    font-weight: 700;
    border-radius: 500px;
    margin: 5px;
    margin-bottom: 10px;
}
.btn:hover{
    background-color: #447166;
}
.banner_itam > p{
    margin-left: 10px;
   color: white;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 5px 5px 10px black; 
}